ul li{
    position: relative;
    text-decoration: none;
    color: white;
    display: inline;
    padding: 17px;
}

a{
    color: grey;
}

a:hover{
    color: white;
}

a:visited{
    color: darkgrey;
}
